@charset "UTF-8";

body {
	background-image: url("/docobluefantasy/image/backGround/kabegami.png");
	background-position: top center;
	background-size: cover;
}

.example {
  position: relative;
  }

.example a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border:solid #000000 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: #400080;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.example a:hover{/*カーソルを当てたとき*/
  background: rgba(00,153,255, 0.8);/*背景を半透明に*/
  }

.example img {
  width: 100%;
  }

  .example {
  position: relative;
  }

.example1 a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 92%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border:solid #000000 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: #0000a0;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.example1 a:hover{/*カーソルを当てたとき*/
  background: rgba(00,153,255, 0.8);/*背景を半透明に*/
  }

.example1 img {
  width: 100%;
  }

  .example2 {
  position: relative;
  }

.example2 a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border: #000000 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: #400080;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.example2 a:hover{/*カーソルを当てたとき*/
  background: rgba(00,153,255, 0.8);/*背景を半透明に*/
  }

.example2 img {
  width: 100%;
  }

  .example2 {
  position: relative;
  }
