@charset "UTF-8";

body {
	background-image:
		url("/docobluefantasy/image/backGround/pandemoniumu.png");
	background-position: top center;
	background-size: cover;
}

.boss {
	border: 1px #fff8dc solid;
	font-size: 125%;
	line-height: 150%;
	color: #fff8dc;
	background-color: rgba(84,84,84,0.7);
	height: 180px;		/* 高さ */
	width: 350px;		/* 横幅 */
	padding: 0px 50px 0px 42px;
	margin: 55px auto 128px 580px;
}

main {
    padding:  10px;            /* 余白指定 */
    overflow:  hidden;         /* floatで高さがなくなる問題解消 */
}

.main_visual {
    text-align:  center;        /* 文字中央揃え */
    padding: 115px 0px 68px 200px;              /* 余白指定 */
}

.side {
    width: 55%;                /* 幅指定 */
    float:  left;              /* 要素を並べる */
    height: 200px;             /* 高さ指定 */
}

.main_content {
    width:  75%;               /* 幅指定 */
    float:  left;              /* 要素を並べる */
    height: 200px;             /* 高さ指定 */
}

.right{
	margin-left : auto ;

	margin-right : 0 ;
}

.footer {
	background-color: #fff;
	height: 12.5px;
	width: 100%;
    padding: 4px 0;
    text-align:  center;
}

.header {
	background-color: #fff;
	height: 12.5px;
	padding: 6px;
}

.image{
	margin-right:260px;
	padding: 50px 0px 0px 0px;
}

