@charset "UTF-8";

body {
	background-image:
		url("/docobluefantasy/image/backGround/pandemoniumu.png");
	background-position: top center;
	background-size: cover;
}

.table {
	color: #fff8dc;
	background-color: rgba(84,84,84,0.7);
	height: 60px;
	padding: 10px;
	width: 300px;
}

.header {
	background-color: #fff;
	height: 12.5px;
	padding: 5px;
}

 header {
background-color: #c0c0c0;
opacity: 1.0;
}
