@charset "UTF-8";

input#image {
	width: 105px;
	height: 35px;
}

input#mainpage {
	width: 180px;
	height: 60px;
}

input#top {
	width: 90px;
	height: 30px;
}

input#registar {
	width: 105px;
	height: 35px;
	margin: 0px 0px 0px 45px;
}

input#yes {
	width: 120px;
	height: 40px;
	position: absolute; left: 38%;
/*	margin: 0px 100px 0px 0px; */
}

input#no {
	width: 120px;
	height: 40px;
	position: absolute; right: 38%;
/*	margin: 20px 0px 0px 50px; */
}
