@charset "UTF-8";

body {
	padding-bottom: 110px;
	position: relative;
	background-image: url("/docobluefantasy/image/backGround/gacharesult.jpg");
	background-position: top center;
	background-size: cover;
}

table {
	border: 1;
	border-color: #000000;
	background-color: #FFFFFF;
}
 header {
background-color: #c0c0c0;
opacity: 1.0;
}

header table {
	border-collapse: collapse;
	border-spacing: 0;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
background-color:#c0c0c0;
opacity: 1.0;
}
