@charset "UTF-8";

body {
	background-image: url("/docobluefantasy/image/backGround/gacha.jpg");
	background-position: top center;
	background-size: cover;
}
 header {
background-color: #c0c0c0;
opacity: 1.0;
}

