@charset "UTF-8";


table, td, th {
	font-size: 110%;
	height: 25px;		/* 高さ */
	width: 300px;		/* 横幅 */
	background-color: rgba(255,255,255,0.5);
	color: #0000ff;
	padding: auto;
	margin: auto;
	border: 5px #d1ffff solid;
	text-align: center;
	vertical-align: middle;
	border-style:ridge ridge groove groove
}

input#submit_button {
    padding: 0.375px 1px;
    font-size: 1em;
    background-color: rgba(212,255,255,0.7);
    color: #0000ff;
    border-style: none;
}
