@charset "UTF-8";

body {
	background-image: url("/docobluefantasy/image/backGround/kabegami.png");
	background-position: top center;
	background-size: cover;
}

.weapon {
	border: 1px #000000 solid;
	font-size: 125%;
	line-height: 150%;
	color: #202020;
	background-color: rgba(255,255,255,0.7);
	height: 110px;		/* 高さ */
	width: 350px;		/* 横幅 */
	padding: 50px 0px 25px 35px;
	margin: 50px 0px 130px 450px;
}

main {
    padding:  10px;            /* 余白指定 */
    overflow:  hidden;         /* floatで高さがなくなる問題解消 */
}

 header {
background-color: #c0c0c0;
opacity: 1.0;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
background-color:#FFFFFF;
opacity: 1.0;
}


.main_visual {
    text-align:  center;        /* 文字中央揃え */
    padding: 140px 0px 41px 300px;              /* 余白指定 */
}

.side {
    width: 55%;                /* 幅指定 */
    float:  left;              /* 要素を並べる */
    height: 200px;             /* 高さ指定 */
}

.main_content {
    width:  75%;               /* 幅指定 */
    float:  left;              /* 要素を並べる */
    height: 200px;             /* 高さ指定 */
}

.right{
	margin-left : auto ;

	margin-right : 0 ;
}

.footer {
	background-color: #fff;
	height: 12.5px;
	width: 100%;
    padding: 4px 0;
    text-align:  center;
}

.header {
	background-color: #fff;
	height: 12.5px;
	padding: 6px;
}

.image{
	margin-right:260px;
	padding: 50px 0px 0px 0px;
}

